entrypoint = "server.ts"
run = "cd FrontEnd && npm run start"
modules = ["angular-node-20"]

[packager]
language = "dotnet"

[packager.features]
packageSearch = true

[nix]
channel = "stable-23_11"

[[ports]]
localPort = 4200
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 5171
externalPort = 3001
exposeLocalhost = true

[[ports]]
localPort = 7156
externalPort = 3000
exposeLocalhost = true
